@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body{
	background: #16A085 

}



h1{
	text-align: center;
}

h1{
	font-family: 'Sacramento';
	font-size: 3vw
}
h2{
	font-family: 'Sacramento';
	font-size: 3vw
}
h3{
	font-family: 'Sacramento';
	font-size: 3vw

}
p{
	font-family: 'Raleway';
	font-size: 2vw
	text-align: justify;
	color: #FBFCFC 
}
ul{
	font-family: 'Raleway';
	font-size: 2vw;
	color: #FBFCFC;
}
table{
    color: #FBFCFC;
	font-family: 'Raleway';
	font-size: 2vw;
	border-collapse: collapse;
	width: 100%;
    }

	th, td{
		text-align: left;
		padding: 8px
		border-bottom: : 1px solid blue;
     }
     tr:hover{
     	background-color: blue;

     }

