body{
	background: linear-gradient(-45deg, crimson,sienna, royalblue, indianred, purple);
	background-size: 400% 400%;
	animation: gradientes 15s ease infinite;
}
@keyframes gradientes{

	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;

	}
	100%{
		background-position: 0% 50%;
	}

}